<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://yantzn-test-learmdb.documents.azure.com:443/" />
        <add key="accountKey" value="o1vYNqlk3w01jvMaM0i0UAqehTAxc5jDpG3FhlCPf3xuINQzsuvhzMXkxSGQdVyP9DRWQQTRXFnbc0GL2jh6UQ==" />
      </appSettings>
</configuration>
